#divtag0 {
	position: absolute;
	width: 960px;
	height: 50px;
	top: 40px;
	left: 0px;
	border: 0px;
}
#divtag1 {
	position: absolute;
	width: 15px;
	height: 50px;
	top: 40px;
	left: 281px;
	border: 0px;
}
#text0 {
	font-family: Trebuchet MS;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text0 a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#text0 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#text0 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#text0 a:active {
	color: #FFFFFF;
	text-decoration: none;
}
#para0 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#divtag2 {
	position: absolute;
	width: 925px;
	height: 24px;
	top: 57px;
	left: 14px;
}
#divtag3 {
	position: absolute;
	width: 4px;
	height: 34px;
	top: 47px;
	left: 776px;
	border: 0px;
}
#divtag4 {
	position: absolute;
	width: 4px;
	height: 34px;
	top: 47px;
	left: 665px;
	border: 0px;
}
#divtag5 {
	position: absolute;
	width: 4px;
	height: 34px;
	top: 46px;
	left: 584px;
	border: 0px;
}
#divtag6 {
	position: absolute;
	width: 4px;
	height: 34px;
	top: 46px;
	left: 472px;
	border: 0px;
}
#divtag7 {
	position: absolute;
	width: 4px;
	height: 34px;
	top: 46px;
	left: 366px;
	border: 0px;
}
#divtag8 {
	position: absolute;
	width: 290px;
	height: 50px;
	top: 40px;
	left: 0px;
	border: 0px;
}
#divtag9 {
	position: absolute;
	width: 263px;
	height: 41px;
	top: 33px;
	left: 16px;
	border: 0px;
}
#divtag10 {
	position: absolute;
	width: 177px;
	height: 30px;
	top: 130px;
	left: 558px;
	border: 0px;
}
#divtag11 {
	position: absolute;
	width: 320px;
	height: 193px;
	top: 130px;
	left: 1px;
	border: 0px;
}
#text1 {
	font-family: Trebuchet MS;
	font-size: 30px;
	line-height: 40px;
	color: #FFFFFF;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text1 a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#text1 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#text1 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#text1 a:active {
	color: #FFFFFF;
	text-decoration: none;
}
#para1 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text2 {
	font-family: Trebuchet MS;
	font-size: 9px;
	line-height: 17px;
	color: #F1C600;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text2 a:link {
	color: #F1C600;
	text-decoration: none;
}
#text2 a:visited {
	color: #F1C600;
	text-decoration: none;
}
#text2 a:hover {
	color: #F1C600;
	text-decoration: none;
}
#text2 a:active {
	color: #F1C600;
	text-decoration: none;
}
#para2 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text3 {
	font-family: Trebuchet MS;
	font-size: 9px;
	line-height: 17px;
	color: #F1C600;
	letter-spacing: 0px;
	display: inline-block;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text3 a:link {
	color: #F1C600;
	text-decoration: none;
}
#text3 a:visited {
	color: #F1C600;
	text-decoration: none;
}
#text3 a:hover {
	color: #F1C600;
	text-decoration: none;
}
#text3 a:active {
	color: #F1C600;
	text-decoration: none;
}
#para3 {
	line-height: 17px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text4 {
	font-family: Trebuchet MS;
	font-size: 18px;
	line-height: 25px;
	color: #CCCCCC;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text4 a:link {
	color: #CCCCCC;
	text-decoration: none;
}
#text4 a:visited {
	color: #CCCCCC;
	text-decoration: none;
}
#text4 a:hover {
	color: #CCCCCC;
	text-decoration: none;
}
#text4 a:active {
	color: #CCCCCC;
	text-decoration: none;
}
#para4 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text5 {
	font-family: Trebuchet MS;
	font-size: 10px;
	line-height: 17px;
	color: #CCCCCC;
	letter-spacing: 0px;
	display: inline-block;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text5 a:link {
	color: #CCCCCC;
	text-decoration: none;
}
#text5 a:visited {
	color: #CCCCCC;
	text-decoration: none;
}
#text5 a:hover {
	color: #CCCCCC;
	text-decoration: none;
}
#text5 a:active {
	color: #CCCCCC;
	text-decoration: none;
}
#para5 {
	line-height: 17px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text6 {
	font-family: Trebuchet MS;
	font-size: 10px;
	line-height: 17px;
	color: #CCCCCC;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text6 a:link {
	color: #CCCCCC;
	text-decoration: none;
}
#text6 a:visited {
	color: #CCCCCC;
	text-decoration: none;
}
#text6 a:hover {
	color: #CCCCCC;
	text-decoration: none;
}
#text6 a:active {
	color: #CCCCCC;
	text-decoration: none;
}
#para6 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#divtag12 {
	position: absolute;
	width: 307px;
	height: 177px;
	top: 137px;
	left: 8px;
}
#divtag13 {
	position: absolute;
	width: 960px;
	height: 6px;
	top: 833px;
	left: 0px;
	border: 0px;
}
#text7 {
	font-family: Arial;
	font-size: 11px;
	line-height: 16px;
	color: #666666;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text7 a:link {
	color: #666666;
	text-decoration: none;
}
#text7 a:visited {
	color: #666666;
	text-decoration: none;
}
#text7 a:hover {
	color: #666666;
	text-decoration: none;
}
#text7 a:active {
	color: #666666;
	text-decoration: none;
}
#para7 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#divtag14 {
	position: absolute;
	width: 276px;
	height: 38px;
	top: 849px;
	left: 17px;
}
#text8 {
	font-family: Arial;
	font-size: 11px;
	line-height: 16px;
	color: #666666;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text8 a:link {
	color: #666666;
	text-decoration: none;
}
#text8 a:visited {
	color: #666666;
	text-decoration: none;
}
#text8 a:hover {
	color: #666666;
	text-decoration: none;
}
#text8 a:active {
	color: #666666;
	text-decoration: none;
}
#para8 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#divtag15 {
	position: absolute;
	width: 276px;
	height: 30px;
	top: 850px;
	left: 669px;
}
#text9 {
	font-family: Trebuchet MS;
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text9 a:link {
	color: #000000;
	text-decoration: none;
}
#text9 a:visited {
	color: #000000;
	text-decoration: none;
}
#text9 a:hover {
	color: #000000;
	text-decoration: none;
}
#text9 a:active {
	color: #000000;
	text-decoration: none;
}
#para9 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#divtag16 {
	position: absolute;
	width: 146px;
	height: 29px;
	top: 132px;
	left: 576px;
}
#divtag17 {
	position: absolute;
	width: 320px;
	height: 208px;
	top: 351px;
	left: 1px;
	border: 0px;
}
#text10 {
	font-family: Trebuchet MS;
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text10 a:link {
	color: #000000;
	text-decoration: none;
}
#text10 a:visited {
	color: #000000;
	text-decoration: none;
}
#text10 a:hover {
	color: #000000;
	text-decoration: none;
}
#text10 a:active {
	color: #000000;
	text-decoration: none;
}
#para10 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text11 {
	font-family: Trebuchet MS;
	font-size: 9px;
	line-height: 17px;
	color: #F1C600;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text11 a:link {
	color: #F1C600;
	text-decoration: none;
}
#text11 a:visited {
	color: #F1C600;
	text-decoration: none;
}
#text11 a:hover {
	color: #F1C600;
	text-decoration: none;
}
#text11 a:active {
	color: #F1C600;
	text-decoration: none;
}
#para11 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text12 {
	font-family: Trebuchet MS;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text12 a:link {
	color: #000000;
	text-decoration: none;
}
#text12 a:visited {
	color: #000000;
	text-decoration: none;
}
#text12 a:hover {
	color: #000000;
	text-decoration: none;
}
#text12 a:active {
	color: #000000;
	text-decoration: none;
}
#para12 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text13 {
	font-family: Trebuchet MS;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text13 a:link {
	color: #000000;
	text-decoration: none;
}
#text13 a:visited {
	color: #000000;
	text-decoration: none;
}
#text13 a:hover {
	color: #000000;
	text-decoration: none;
}
#text13 a:active {
	color: #000000;
	text-decoration: none;
}
#para13 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text14 {
	font-family: Trebuchet MS;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text14 a:link {
	color: #000000;
	text-decoration: none;
}
#text14 a:visited {
	color: #000000;
	text-decoration: none;
}
#text14 a:hover {
	color: #000000;
	text-decoration: none;
}
#text14 a:active {
	color: #000000;
	text-decoration: none;
}
#para14 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text15 {
	font-family: Trebuchet MS;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text15 a:link {
	color: #000000;
	text-decoration: none;
}
#text15 a:visited {
	color: #000000;
	text-decoration: none;
}
#text15 a:hover {
	color: #000000;
	text-decoration: none;
}
#text15 a:active {
	color: #000000;
	text-decoration: none;
}
#para15 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text16 {
	font-family: Trebuchet MS;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text16 a:link {
	color: #000000;
	text-decoration: none;
}
#text16 a:visited {
	color: #000000;
	text-decoration: none;
}
#text16 a:hover {
	color: #000000;
	text-decoration: none;
}
#text16 a:active {
	color: #000000;
	text-decoration: none;
}
#para16 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text17 {
	font-family: Trebuchet MS;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text17 a:link {
	color: #000000;
	text-decoration: none;
}
#text17 a:visited {
	color: #000000;
	text-decoration: none;
}
#text17 a:hover {
	color: #000000;
	text-decoration: none;
}
#text17 a:active {
	color: #000000;
	text-decoration: none;
}
#para17 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#text18 {
	font-family: Trebuchet MS;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text18 a:link {
	color: #000000;
	text-decoration: none;
}
#text18 a:visited {
	color: #000000;
	text-decoration: none;
}
#text18 a:hover {
	color: #000000;
	text-decoration: none;
}
#text18 a:active {
	color: #000000;
	text-decoration: none;
}
#para18 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#divtag18 {
	position: absolute;
	width: 307px;
	height: 187px;
	top: 358px;
	left: 7px;
}
#divtag19 {
	position: absolute;
	width: 318px;
	height: 211px;
	top: 587px;
	left: 2px;
	border: 0px;
}
#divtag20 {
	position: absolute;
	width: 600px;
	height: 394px;
	top: 187px;
	left: 356px;
	border: 0px;
}
#text19 {
	font-family: Trebuchet MS;
	font-size: 22px;
	line-height: 29px;
	color: #000000;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text19 a:link {
	color: #000000;
	text-decoration: none;
}
#text19 a:visited {
	color: #000000;
	text-decoration: none;
}
#text19 a:hover {
	color: #000000;
	text-decoration: none;
}
#text19 a:active {
	color: #000000;
	text-decoration: none;
}
#para19 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#divtag21 {
	position: absolute;
	width: 452px;
	height: 33px;
	top: 7px;
	left: 506px;
}
#text20 {
	font-family: Trebuchet MS;
	font-size: 17px;
	line-height: 25px;
	color: #F1C600;
	letter-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
*white-space:pre;
}
#text20 a:link {
	color: #F1C600;
	text-decoration: none;
}
#text20 a:visited {
	color: #F1C600;
	text-decoration: none;
}
#text20 a:hover {
	color: #F1C600;
	text-decoration: none;
}
#text20 a:active {
	color: #F1C600;
	text-decoration: none;
}
#para20 {
	line-height: 0px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}
#divtag22 {
	position: absolute;
	width: 452px;
	height: 33px;
	top: 9px;
	left: 354px;
}
#bodytag {
	background: #ebebeb;
	background-image: url('images/bgback2.jpg');
	background-repeat: repeat-x;
	margin: 0;
	height: 100%;
}
html {
	height: 100%;
	min-height: 100%;
}
#maindiv {
	background: #ebebeb;
	width: 959px;
	height: 100%;
	position: relative;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
#drawLayer {
	background: #ebebeb;
	background-image: url('images/bg2.jpg');
	position: relative;
	background-repeat: no-repeat;
	width: 959px;
	height: 886px;
}
